# Node modules
node_modules

# Envs
.env

# Cypress artifacts
cypress/downloads
cypress/screenshots

# Playwright artifacts
playwright/playwright-report
playwright/snapshots
playwright/test-results
playwright/playwright/.cache
