# Node modules
node_modules/

# Cypress artifacts
cypress/downloads
cypress/screenshots

# Playwright artifacts
playwright/playwright-report/
playwright/snapshots/
playwright/test-results/
playwright/playwright/.cache/

# Envs
.env
